h1{
    text-align: center;
    margin: 50px; 
    color:white; 
    background: brown; 
    width: 55%;
    padding: 10px;
    border-radius: 10px;
  }
  form{
    width: 30%;
    border-color: black;
  }
  label{
    font-size: medium;
  }

  #vdt{
    width: 60%;
    border: 1px solid black;
    border-collapse: collapse;
    margin-top: 100px;
    margin-left: 12rem;
  }
  
  #vdt td,th{
    border: 1px solid grey;
    padding: 10px;
    font-size: medium;

  }
  #result{
    display:center;
  }
  .container{
    display: inline;
  }
  
 .card{
  margin-top: 7rem;
  margin-left: 1rem;
  align-items: center;
  justify-content: center;
  border: 2px solid rgb(49, 65, 192);
  width: 600px;
  border-radius: 20px;
  padding: 2rem;
  float: left;
 }

 .btn{
  width: 100px;
 }